#tlo {
    background-image: url(http://www.national-geographic.pl/media/cache/gallery_view/uploads/media/default/0009/35/9efda1c67c673a80d30164460b6251e1e6727f54.jpeg);
    background-repeat: no-repeat;
    background-color: aquamarine;
    background-position: top center;
    background-size: 60% 30%;
    background-attachment: fixed;
}